@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #218A07;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



.container {
  padding: 16px;
}





}
</style>
</head>
<body>


<center> <h2>Sistema de gestion posgrados</h2>
    </center>
<form action="/action_page.php" method="post">
  
   
  

  <div class="container">
    <label for="uname"><b>Usuario</b></label>
    <input type="text" placeholder="Ingrese usuario" name="uname" required>

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Ingrese contraseña" name="psw" required>
        
    <button type="submit">Entrar</button>
    
  </div>

  <div class="container" style="background-color:#f1f1f1" align="right" >
  
     <a class="nav-link text-dark"  style="color:blue" asp-area="" asp-controller="Home" asp-action="OlvidoContraseña">¿Olvido Contraseña?</a>
  </div>
</form>
<img src="https://tesis.tdea.edu.co/renovaciones/logo"  width: 40px; border-radius: 50;>
</body>
</html>