<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.acceptbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #218A07;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



.container {
  padding: 16px;
}



  
}
</style>
</head>
<body>

<center>
    <h2>Olvido Contraseña</h2> </center>

<form action="/action_page.php" method="post">
  <div class="imgcontainer">
   
  </div>

  <div class="container">
    <label for="num"><b>Documento</b></label>
    <input type="text" placeholder="Ingrese documento" name="num" required>

    <label for="eml"><b>Correo</b></label>
    <input type="email" placeholder="Ingrese correo electronico" name="email" required>
   
   
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancelar</button>
    <button type="button" class="acceptbtn">Aceptar</button>
  </div>
</form>

</body>
</html>

