
@{
    ViewData["Title"] = "CrearUsuario";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.enviarbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #218A07;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



.container {
  padding: 16px;
}
.form{
   position: relative;

  width  : 740px;
  height : 498px;
  margin : 0 auto;

  background: #FFF

}


}
.label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.input {
    width: auto;
    height: auto;
    padding: 0;
    margin:0;
    position: relative;
}


  
}
</style>
</head>
<body>

<center>
    <h2>Crear usuario</h2> </center>

<form class="form" action="/action_page.php" method="post">
  
    <fieldset>

  <div class="container">
       <label class="label" for="tipoDocumento"><b>Tipo de documento</b></label>
      <select id="tipoDocumento" name="tipoDocumento">
  <option>Tipo de documento </option>
  <option value="cedulaDeCiudadania">Cedula de iudadania</option>
  <option value="tarjetaDeIdentidad">Tarjeta de identidad</option>
  <option value="cedulaDeExtranjero">Cedula de extranjeria</option>
  <option value="pasaporte">Pasaporte</option>
      </select>

    <label class="label" for="num"><b>Documento</b></label>
    <input class="input" type="text" placeholder="Ingrese documento"  name="num" required>

    <label class="label" for="programa"><b>Programa</b></label>
      <select id="programa" name="programa">
  <option>Elija un programa </option>
  <option value="esi">Especializacion en seguridad de la informacion</option>
  <option value="mgti">Maestria en gestion de tecnologia de la informacion </option>
  <option value="mgrma">Maestria en gestion de riesgo y medio ambiente </option>
      </select>
      
        <label class="label" for="nom"><b>Nombre</b></label>
    <input type="text" class="input" placeholder="Ingrese nombre" name="nombre" required>

    <label class="label" for="apellido"><b>Apellido</b></label>
    <input type="text" class="input" placeholder="Ingrese apellido" name="apellido" required>

     <label class="label" for="genero"><b>Genero</b></label>
      <select id="genero" name="genero">
  <option>Seleccione genero </option>
  <option value="f">Femenino</option>
  <option value="m">Masculino </option>
  <option value="otro">Otro </option>
      </select>

    <label class="label" for="eml"><b>Correo</b></label>
    <input type="email" class="input" placeholder="Ingrese correo electronico" name="email" required>

    <label class="label" for="direccion"><b>Direccion</b></label>
    <input type="text" class="input" placeholder="Ingrese direccion" name="direccion" required>
   
   <label class="label" for="telefono"><b>Telefono</b></label>
    <input type="number" class="input" placeholder="Ingrese telefono" name="telefono" required>

       <label class="label" for="rol"><b>rol</b></label>
      <select id="rol" name="rol">
  <option>Seleccione rol</option>
  <option value="estudiante">Estudiante</option>
  <option value="coordinador">Coordinador </option>
  <option value="administrador">Administrador </option>
      </select>

  </div> 


  <div class="container" style="background-color:#f1f1f1">
        <input type="submit" class="enviarbtn"> 
    <button type="button" onclick="https://localhost:44369/Admin/Administrador" class="cancelbtn">Cancelar</button>
  
  </div>
  </fieldset>
</form>

</body>
</html>





