@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "CrearUsuario";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.enviarbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #218A07;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



.container {
  padding: 16px;
}
.form{
   position: relative;

  width  : 740px;
  height : 498px;
  margin : 0 auto;

  background: #FFF

}


}
.label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.input {
    width: auto;
    height: auto;
    padding: 0;
    margin:0;
    position: relative;
}


  
}
</style>
</head>
<body>

<center>
    <h2>Crear usuario</h2> </center>

<form class="form" method="post">
  
    <fieldset>
        <input asp-for="Password" type="text">
        <input asp-for="Egresado" type="number" value="1">
        

  <div class="container" style="display: flex;">
    <div style="margin: 10px;">

        <label asp-for="IdTipoDocumento" class="label" for="tipoDocumento"><b>Tipo de documento</b></label>
        <br/>
        @Html.DropDownList("IdTipoDocumento", new SelectList(ViewBag.tipodocumento, "IdTipoDocumento", "TipoDocumento1"))
        <br/>

        <label asp-for="Nombre" class="label" for="nom"><b>Nombre</b></label>
        <br/>
        <input asp-for="Nombre" type="text" class="input" placeholder="Ingrese nombre" name="nombre" required style="margin-bottom: 50px;">

        <br>

        <label asp-for="Email" class="label" for="eml"><b>Correo</b></label>
        <br>
        <input asp-for="Email" type="email" class="input" placeholder="Ingrese correo electronico" name="email" required style="margin-bottom: 50px;">

    </div>

    <div style="margin: 10px;">
        <label asp-for="Documento" class="label" for="num"><b>Documento</b></label>
        <br>
        <input asp-for="Documento" class="input" type="text" placeholder="Ingrese documento"  name="num" required style="margin-bottom: 50px;">

        <br>

        <label asp-for="Apellido" class="label" for="apellido"><b>Apellido</b></label>
        <br>
        <input asp-for="Apellido" type="text" class="input" placeholder="Ingrese apellido" name="apellido" required style="margin-bottom: 50px;">

        <br>

        <label asp-for="Direccion" class="label" for="direccion"><b>Direccion</b></label>
        <br>
        <input asp-for="Direccion" type="text" class="input" placeholder="Ingrese direccion" name="direccion" required style="margin-bottom: 50px;">

        <br>
    </div>

    <div style="margin: 10px;">
        <label asp-for="IdPrograma" class="label" for="programa"><b>Programa</b></label>
        <br>
        @Html.DropDownList("IdPrograma", new SelectList(ViewBag.programa, "IdPrograma", "Programa1"))

        <br>

        <label asp-for="IdGenero" class="label" for="genero"><b>Genero</b></label>
        <br>
        @Html.DropDownList("IdGenero", new SelectList(ViewBag.genero, "IdGenero", "Genero1"), new {@class = "form-control"})

        <br>

        <label asp-for="Telefono" class="label" for="telefono"><b>Telefono</b></label>
        <br>
        <input asp-for="Telefono" type="number" class="input" placeholder="Ingrese telefono" name="telefono" required>

    </div>




  </div>

        <center>
            <label asp-for="IdRol" class="label" for="rol"><b>rol</b></label>
            
            @Html.DropDownList("IdRol", new SelectList(ViewBag.rol, "IdRol", "Rol1"))
        </center>


  <div class="container" style="background-color:#f1f1f1">
        <button type="submit" class="enviarbtn"> Enviar</button>
    <button type="button" onclick="https://localhost:44369/Admin/Administrador" class="cancelbtn">Cancelar</button>
  
  </div>
  </fieldset>
</form>

</body>
</html>





