 @{
        ViewData["Title"] = "Estudiantes";
    }
    <html>
    <head>
    

    <style type="text/css">
    #navegador ul{
       list-style-type: none;
       text-align: center;
    }
    #navegador li{
       display: inline;
       text-align: center;
       margin: 0 10px 0 0;
    }
    #navegador li a {
       padding: 2px 7px 2px 7px;
       color: #666;
       background-color: #eeeeee;
       border: 1px solid #ccc;
       text-decoration: none;
    }
        #navegador li a:hover {
            background-color: #218A07;
            color: #ffffff;
        }
       </style>
    </head>

    <body>
        <center><h1> Estudiantes  </h1> </center>
 <br />

    <div id="navegador">
    <ul>
    <li> 
      <a class="nav-link text-dark" asp-area="" asp-controller="Est" asp-action="PerfilEst">Perfil</a></li>
    <li> <a class="nav-link text-dark" asp-area="" asp-controller="Est" asp-action="PagoMatriculaEst">Pago Matricula</a></li>
    
    </ul>
    </div>

    </body>
    </html>
