@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "CoordinadorEntrevista";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}


.nada{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.enviarbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #218A07;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



.container {
  padding: 16px;
}
.form{
    position: relative;
    width: 900px;
    height: auto;
    margin: 0 auto;


}


.label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.input {
    width: auto;
    height: auto;
    padding: 0;
    margin:0;
    position: relative;
}


  

</style>
</head>
<body>

<center>
    <h2>Entrevista</h2> </center>

<form class="form" method="post">

    <input asp-for="Password" type="hidden" value="123">
    <input asp-for="IdRol" type="hidden" value="3" />
  
    <fieldset>
       
    <div class="container" style="display: flex;">
        <div style="margin: 10px;">
            <label class="label" for="num"><b>Documento</b></label>
            <input asp-for="Documento" class="input" type="text" placeholder="Ingrese documento"  name="documento" required style="width: 600px; margin-bottom: 50px;">

            <div style="display: flex;">
                <div style="margin: 10px;">
                    <label asp-for="Nombre" class="label" for="nom"><b>Nombre</b></label>
                    <input asp-for="Nombre" type="text" class="input" placeholder="Ingrese nombre" name="nombre" required style="margin-bottom: 50px;">

                    <br>

                    <label class="label" for="eml"><b>Correo</b></label>
                    <input asp-for="Email" type="email" class="input" placeholder="Ingrese correo electronico" name="email" required style="margin-bottom: 50px;">

                    <br>

                    <label class="label" for="programa"><b>Programa</b></label>
                    @Html.DropDownList("IdPrograma", new SelectList(ViewBag.programa, "IdPrograma", "Programa1"))
                </div>

                <div style="margin: 10px;">
                    <label class="label" for="apellido"><b>Apellido</b></label>
                    <input asp-for="Apellido" type="text" class="input" placeholder="Ingrese apellido" name="apellido" required style="margin-bottom: 50px;">

                    <br>

                    <label class="label" for="telefono"><b>Telefono</b></label>
                    <input asp-for="Telefono" type="number" class="input" placeholder="Ingrese telefono" name="telefono" required style="margin-bottom: 50px;">

                    <br>

                    <label class="label" for="egresado"><b>¿Es egresado?</b></label>
                    <input asp-for="Egresado" type="checkbox" id="cbox1" value="1"> Si
                    <input asp-for="Egresado" type="checkbox" id="cbox2" value="0"> No
                </div>

                <div style="margin: 10px;">
                    <label class="label" for="genero"><b>Genero</b></label>
                    @Html.DropDownList("IdGenero", new SelectList(ViewBag.genero, "IdGenero", "Genero1"), new {@class = "form-control"})

                    <br>

                    <label class="label" for="direccion"><b>Direccion</b></label>
                    <input asp-for="Direccion" type="text" class="input" placeholder="Ingrese direccion" name="direccion" required style="margin-bottom: 50px;">

                </div>

            </div>


        </div>

        <div>
            <label class="label" for="tipoDocumento"><b>Ingresar documento del estudiante</b></label>
            @Html.DropDownList("IdTipoDocumento", new SelectList(ViewBag.tipodocumento, "IdTipoDocumento", "TipoDocumento1"))

        </div>

  </div> 


  <div class="container" style="background-color:#f1f1f1">
        <button type="submit" class="enviarbtn"> Enviar</button>
      <button type="button" onclick="https://localhost:44369/Coordi/Coordinador" class="cancelbtn">Cancelar</button>
  
  </div>
  </fieldset>
</form>

</body>
</html>





